:root {
    --primary-color: #ff00004981;
    --secondary-color: #eeb64f;
    --background-gradient: linear-gradient(135deg, #000000, #201616, #2c2525, #201616, #000000);
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000, #201616, #2c2525, #201616, #000000);
    background-attachment: fixed;
    background-size: cover;
    color: #000000;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background: linear-gradient(to bottom, #222, #0c0404);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 60px;
}

.logo img {
    height: 100%;
    border-radius: 50%;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 10px #ff000049, 0 0 20px #ff000049;
    }
    50% {
        box-shadow: 0 0 20px #eeb64f, 0 0 40px #eeb64f;
    }
    100% {
        box-shadow: 0 0 10px #ff000017, 0 0 20px #ff000093;
    }
}

h1 {
    font-size: 2.7em;
    margin: 20px 0;
    color: #000000;
    text-shadow: 0 0 5px #eeb64f, 0 0 10px #e29d1da1, 0 0 20px #eeb64f;
}
h2 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #000000;
    text-shadow: 0 0 5px #eeb64f, 0 0 10px #e29d1da1, 0 0 20px #eeb64f;
}
h3 {
    font-size: 1.7em;
    margin: 20px 0;
    color: #000000;
}

hr {
    border: 0;
    height: 2px;
    background: linear-gradient(90deg, #eeb64f, #ff00004981);
    box-shadow: 0 0 10px #eeb64f, 0 0 10px #ff00004981;
}

p {
    font-size: 1.4em;
    margin: 20px 0;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.menu a {
    color: #ff00004981;
    text-decoration: none;
    text-shadow: 0 0 5px #ff00004981;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    padding: 0.5rem;
    white-space: nowrap;
}

.menu a:hover {
    color: #eeb64f;
    text-shadow: 0 0 10px #eeb64f, 0 0 20px #eeb64f;
}

.menu a:active {
    color: #aa0000b9; 
}

.menu a:visited {
    color: #ff000049;
}

a {
    color: #eeb64f;
    text-decoration: none; 
  }
  
  a:hover {
    color: #ff5722;
    text-shadow: 0 0 10px #eeb64f, 0 0 20px #eeb64f;
  }
  
  a:visited {
    color: #ff000049;
  }
  
  a:active {
    color: #aa0000b9;
  }

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .left-section, .right-section {
        padding: 0;
    }

    .right-section {
        padding-left: 0;
    }

    .cta-button {
        margin-top: 10px;
    }
    .cta-button2 {
        margin-top: 20px;
    }

    .grid-container {
        grid-template-columns:2, 1fr;
        gap: 200px;
    }    
    
    .shop-item {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    footer {
        font-size: calc(6px + 1.5vw);
        text-align: top;
    }
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 10%;
    background: linear-gradient(to bottom, #00000069, #b1b1b1);
}

.container-a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    margin: 0px auto;
    padding: 0 10%;
    background: linear-gradient(to right, #949494 , #8a8a8a9f, #949494);
}

.container-b {
    color: #ffffff;
    font-weight: bold;
    font-size: 23px;
    text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(87, 83, 76), 0 0 20px rgb(221, 125, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(41, 39, 39, 0.8)), 
                url('https://storage.builderall.com//franquias/2/7304564/editor-html/12530868.jpeg');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.container-c {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10%;
    background: transparent;
}

.container-d {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 10%;
    background: transparent;
}

.container-c .right-section,
.container-c .left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-c .right-section img {
    max-width: 65%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .container-c {
        flex-wrap: wrap;
        transform: scale(0.8);
        transform-origin: top left;
    }
}

@media screen and (max-width: 480px) {
    .container-c {
        flex-wrap: wrap;
        transform: scale(0.5);
        transform-origin: top left;
    }
    .container-a {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .container-b {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section {
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
}

.left-section h2 {
    text-align: center;
    padding-right: 0;
    margin-bottom: 15px;
}


.left-section img {
    max-width: 90%;
    height: auto;
}

.left-section p {
    font-style: italic;
    color: #444;
    margin-top: 20px;
    font-size: 1.5rem;
}

.right-section {
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

.right-section h2 {
    color: #222;
    margin-bottom: 15px;
}

.right-section ul {
    list-style: none;
    padding: 0;
}

.right-section ul li {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #333;
}

.highlight {
    color: #d62f2f;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 20px 0;
}

.graphic {
    margin: 20px auto;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.graphic img {
    width: 100%;
    height: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
    padding: 20px;
    max-width: 100%; 
    margin: 0 auto;
}


.grid-item {
    background-color: #f5f5f528; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 60px; 
    height: 60px;
    object-fit: contain; 
    margin-bottom: 15px; 
}

.grid-item h3 {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.grid-item p {
    font-size: 0.9em;
    color: #555;
}

.carousel-container {
    display: flex;
    overflow: hidden;
    width: 60%;
    position: relative;
    height: 500px;
    background: linear-gradient(to bottom, #363434, #5f5454);
    padding: 0px 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin: 0;
}

.shop-carousel {
    display: flex;
    animation: scroll 20s linear infinite;
    width: max-content;
    margin: 0;
    padding: 0;
    gap: 0;
}

.shop-carousel img {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.shop-carousel:hover {
    animation-play-state: paused;
}

.shop-item {
    flex: 0 0 calc(100% / 3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.shop-item:hover {
    transform: scale(1.05);
}

.shop-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.shop-item img {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    filter: grayscale(20%) brightness(0.9);
    transition: filter 0.3s ease;
}

.shop-item:hover img {
    filter: grayscale(0%) brightness(1);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}


@media (max-width: 768px) {
    .shop-item {
        flex: 0 0 100%; 
    }
    
    .carousel-container {
        display: flex;
        overflow: hidden;
        width: 100%;
        min-height: 300px;
        position: relative;
        background: transparent;
        padding: 0px 0;
        overflow: hidden;
        white-space: nowrap;
        padding: 0;
        margin: 0;
    }
    
    .shop-item img {
        max-width: 100%;
        max-height: 300px;
    }

    .shop-carousel {
        display: flex;
        animation: scroll 10s linear infinite;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0;
    }
}

@media (max-width: 480px) {
    .shop-item {
        flex: 0 0 100%; 
    }
    
    .carousel-container {
        display: flex;
        overflow: hidden;
        width: 100%;
        min-height: 300px;
        position: relative;
        background: transparent;
        padding: 0px 0;
        overflow: hidden;
        white-space: nowrap;
        padding: 0;
        margin: 0;
    }

    .shop-carousel {
        display: flex;
        animation: scroll 10s linear infinite;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0;
    }
    
    .shop-item img {
        max-width: 100%;
        max-height: 300px;
    }
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px auto;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px auto;
}

form {
    margin: 20px 0;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    background-color: #fcfcfc91;
    border: 1px solid #ff00004981;
    color: #000000;
    box-shadow: 0 0 5px #ff00004981;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

input:focus, textarea:focus {
    border-color: #eeb64f;
    box-shadow: 0 0 10px #eeb64f;
}

.phone-input {
    display: flex;
    padding: 0;
}

.phone-input select, .phone-input input {
    border: none;
    background-color: #222;
    color: #000000;
}

.phone-input select {
    width: 150px;
    border-right: 1px solid #333;
}

.phone-input input {
    flex-grow: 1;
}

input[type="submit"] {
    background: #ff000049;
    color: #000;
    border: 2px solid #ff000049
    box-shadow: 0 0 10px #09daff, 0 0 20px #ff000049;
    transition: 0.3s;
    cursor: pointer;
}

input[type="submit"]:hover:not(:disabled) {
    background: #e0a800;
    border-color: #e0a800;
    box-shadow: 0 0 10px #e0a800, 0 0 20px #ff000049;
}

input[type="submit"]:disabled {
    background-color: #555;
    cursor: not-allowed;
}

.error {
    color: #ff4136;
    font-size: 0.8em;
    margin-top: 5px;
    display: block;
}

#about, #whitepaper {
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 60px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px #ff000049, 0 0 30px #ff000049;
}

#about h2 {
    color: #ff00004981;
    text-shadow: 0 0 10px #ff000049, 0 0 20px #ff000049, 0 0 40px #ff000049;
    font-size: 2.5rem;
}

#about p {
    color: #000000;
    font-size: 1rem;
    line-height: 1.6;
    text-shadow: 0 0 5px #ff000049;
    margin-bottom: 15px;    
    font-weight: bold;
}

#about p:last-child {
    margin-bottom: 0;
}

.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.05rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border: 2px solid #ff00004981;
    border-radius: 25px;
    background-color: #e0a800;
    box-shadow: 0 0 12px #ff000049, 0 0 20px #ff000049;
    transition: all 0.3s ease-in-out;
}

.cta-button2 {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 40px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e0a800; 
    text-decoration: none;
    text-align: center;
    border: none; 
    border-radius: 50px;
    background-color: #000000;
    box-shadow: 0 0 15px #e0a800, 0 0 25px #e0a800;
    transition: all 0.3s ease-in-out;
    animation: pulse 2s infinite;
}

.cta-button:hover {
    background-color: #5e1300;
    color: #000;
    transform: scale(1.1);
    box-shadow: 0 0 15px #ff00004981, 0 0 30px #ff00004981;
}

.cta-button2:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #e0a800, 0 0 35px #e0a800;
    cursor: pointer;
}

footer {
    background: linear-gradient(to bottom, #2222227c, #8181818c);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    z-index: 1000;
    color: #e0a800;
    text-align: top;
    font-size: calc(8px + 1vw);
    text-shadow: 0 0 5px #ff00004946, 0 0 10px #ff000049, 0 0 20px #ff000049;
}

html {
    scroll-behavior: smooth;
}
