
.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section {
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
}

.left-section h2 {
    text-align: center;
    padding-right: 0;
    margin-bottom: 15px;
}


.left-section img {
    max-width: 90%;
    height: auto;
}

.left-section p {
    font-style: italic;
    color: #444;
    margin-top: 20px;
    font-size: 1.5rem;
}

.right-section {
    text-align: left;
    font-weight: bold;
    padding-left: 10px;
}

.right-section h2 {
    color: #222;
    margin-bottom: 15px;
}

.right-section ul {
    list-style: none;
    padding: 0;
}

.right-section ul li {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #333;
}